In [12]:
import numpy as np
from math import factorial as fac

In [13]:
fac(3)

6

In [17]:
D = 500
F = 499
T = 5
N = 5

In [18]:
def fun1(D, F, T, N):
    #return F / (D**(6*T))
    #return np.exp(-2*T*F/D)* (2*T*F/D)**T / T
    return 1 - (fac(D)/ (fac(F)*fac(D-F))) * (1/6)**T *(5/6)**(T-N)

In [19]:
fun1(D,F,T,N)

0.9356995884773662

In [40]:
def fun2(D, M_0, M_D):
    #return 2*(M_0)**(D+1) / sum(M_D)
    #return 1/(D+1)*M_0 + (D / (D+1))*sum(M_D) + (D+1)
    #return 2*(D+1)**2 * sum(M_D) / M_0
    #return sum(list(map(lambda x: x**2, M_D))) / (2*M_0) - (M_0/2)
    return 2*M_0**(D+1)/ sum(M_D)

In [41]:
D = 2
M_0 = 15
M_D = [30,45]

In [42]:
fun2(D, M_0, M_D)

90.0

In [43]:
2*M_0**(D+1)/ sum(M_D)

90.0

In [45]:
np.random.randint(15, high=45, size=6)

array([22, 18, 44, 16, 23, 27])

In [46]:
np.random.random()

0.7367473477714053

In [49]:
rs = []
data = [15,30,45]
for i in range(20):
    for x in data:
        if np.random.random() > 0.5:
            rs.append(x)
            
print(rs)

[45, 30, 30, 30, 45, 15, 15, 30, 45, 15, 30, 45, 15, 30, 45, 30, 45, 15, 45, 15, 30, 30, 45]

In [64]:
new_data = np.random.choice(data, 1000000)
type(new_data), new_data[:50]

(numpy.ndarray,
 array([30, 15, 45, 30, 30, 45, 30, 15, 15, 30, 30, 15, 45, 30, 30, 45, 15,
        45, 45, 15, 45, 30, 45, 45, 45, 30, 30, 45, 30, 45, 15, 45, 30, 30,
        45, 30, 45, 15, 30, 15, 30, 30, 15, 15, 45, 15, 30, 45, 45, 30]))

In [63]:
new_data.mean()

37.495935